.RegisterPage_container {
  margin: 0 auto;
  max-width: 40rem;
}

.RegisterPage_headerImage {
  background-image: url('https://safebooru.donmai.us/data/__unicorn_azur_lane_drawn_by_agung_syaeful_anwar__8956de19b0a21fac9d7af54dc05675b5.jpg');
  background-size: cover;
  width: 100%;
  height: 20rem;
}
