$provider-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  google: #ea4335
);

.card.login {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  .card-header {
    h1 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: map-get($spacers, 4);
  }

  .card-footer {
    font-size: $small-font-size;
  }

  @each $provider, $color in $provider-colors {
    .btn-#{$provider} {
      background-color: $color;
      border-color: $color;

      &:not(:disabled):active, &.active {
        color: #fff;
        background-color: darken($color, 15%);
        border-color: darken($color, 15%);
      }
    }
  }
}

.login-container {
  background: $gray-100;
}
