$division-colors: (
  anggrek: #540e65,
  bakung: #6e9bdf,
  cempaka: #d0150a,
  edelweiss: #f65426,
  kamboja: #054183,
  kenanga: #95b555,
  melati: #ebc427,
  seroja: #f7b2c5
);

$division-colors-lighter: (
  anggrek: #7c4b88,
  bakung: #a2bee7,
  cempaka: #e5746e,
  edelweiss: #f49277,
  kamboja: #4174ab,
  kenanga: #c0d791,
  melati: #f0dd92,
  seroja: #ffe1e9
);
