@import url('https://fonts.googleapis.com/css?family=BenchNine:300|Cabin:400,400i,700|Space+Mono');

$division-colors: (
  anggrek: #540e65,
  cempaka: #d0150a,
  edelweiss: #f65426,
  kamboja: #054183,
  kenanga: #95b555,
  lily: #e0779f,
  mawar: #ff0054,
  melati: #ebc427
);
