.card-fixture {
  margin: map-get($spacers, 4) auto;
}

.card-fixture-intro {
  .card-img {
    border-bottom: 1px solid $gray-300;
  }
}

.card-fixture-voted {
  margin: map-get($spacers, 5) auto;
}

.card-fixture-division {
  .card-header {
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .card-body {
    padding: 0 map-get($spacers, 4);
  }
}

.match {
  margin: map-get($spacers, 4) auto;
}

.match-vs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 2em;
  padding: 0;
  color: $text-muted;

  &::before {
    content: 'VS';
  }
}

.match-mascot {
  &.left {
    padding-right: 0;
  }

  &.right {
    padding-left: 0;
  }
}

.card-mascot {
  position: relative;
  overflow: hidden;
  border: 1px solid currentColor;
  box-shadow: none;
  width: 100%;
  max-width: 300px;
  transition: transform 0.35s;

  .card-img {
    width: 100%;
    height: auto;
  }

  .card-body {
    padding: map-get($spacers, 3);
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    line-height: 1.0;

    .org-name {
      font-size: 0.625em;
    }

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: #000;
    opacity: 0;
    transition: opacity 0.35s;

    &.not-selected {
      opacity: 0.5;
    }
  }

  &.selected {
    transform: scale(1.025);
  }

  &.left {
    margin-left: auto;
    margin-right: 0;
  }

  &.right {
    margin-left: 0;
    margin-right: auto;
  }
}
